/**************************** global styling ****************************/

* {
  font-family: "JetBrains Mono";
  margin: 0;
}

.background {
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/**************************** general components ****************************/

button {
  background-color: #ffd7f3;
  color: #00713d;
  padding: 14px 26px;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  border: none;
  white-space: nowrap;
  transition-duration: 0.3s;
  font-size: 18px;
  font-weight: bolder;
}

button:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24),
    0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

/**************************** global navigation bar ****************************/

.logo {
  width: 100px;
  height: auto;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 100px 0 60px 0;
  font-size: 18px;
  font-weight: bolder;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.navbar ul {
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar ul li {
  list-style: none;
  white-space: nowrap;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
  color: #00713d;
}

.navbar ul li.selected a {
  color: #00713d;
}

/**************************** global footer ****************************/

.footer {
  margin: 0;
  padding: 100px 12.5%;
  background-color: #00713d;
}

/**************************** homepage ****************************/

/* about us section */

.aboutsection {
  padding: 80px 12.5% 120px 12.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.aboutsection h1 {
  color: #00713d;
}

.aboutsection p {
  font-weight: lighter;
  font-size: 16px;
  line-height: 35px;
}

.textstack {
  max-width: 45%;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.buttonstack {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 5%;
  row-gap: 10px;
}

button#eventsbutton {
  background-color: black;
  color: #ffd7f3;
}

button#events:hover {
  color: #ffa7e5;
}

button#getinvolved {
  color: #00713d;
}

button#getinvolved:hover {
  color: #04502f;
}

/* upcoming events section */

.upcomingevents {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;
  color: #00713d;
  background: rgba(0, 113, 61, 0.1);
  padding: 80px 12.5% 120px 12.5%;
  align-items: center;
  justify-content: center;
}

.upcomingevents h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

iframe {
  max-width: 100%;
}

/* instagram section */

.socialmediaheader {
  padding: 120px 7% 20px 7%;
}

.socialmediaheader a {
  text-decoration: none;
  color: #00713d;
  transition-duration: 0.1s;
}

.socialmediapreview {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;
  color: #00713d;
  padding: 50px 7% 85px 7%;
  align-items: flex-start;
  overflow-x: auto;
}

.socialmediapreview a:hover {
  color: #ffa7e5;
}

.socialmediaposts {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 5%;
}

/**************************** our team ****************************/
