/**************************** global styling ****************************/

* {
  font-family: "JetBrains Mono";
  margin: 0;
}

.background {
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/**************************** general components ****************************/

button {
  background-color: #ffd7f3;
  color: #00713d;
  padding: 14px 26px;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  border: none;
  white-space: nowrap;
  transition-duration: 0.3s;
  font-size: 18px;
  font-weight: bolder;
}

button:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24),
    0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

.underconstruction {
  padding: 120px 20% 30% 20%;
  color: #00713d;
}

/**************************** global navigation bar ****************************/

.logo {
  width: 100px;
  height: auto;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 100px 0 60px 0;
  font-size: 18px;
  font-weight: bolder;
  transition-duration: 0.3s;
  text-transform: uppercase;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navbar ul {
  width: 60%;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  white-space: nowrap;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
  color: #00713d;
}

.navbar ul li.selected a {
  color: #00713d;
}

.hamburgernavbar,
.invisbar {
  display: none;
}

@media (max-width: 850px) {
  .navbar ul {
    display: none;
  }
  button#contactbutton {
    height: 52px;
  }
  .navbar {
    justify-content: center;
    align-items: center;
  }
  .hamburgernavbar {
    display: flex;
    flex-flow: row nowrap;
  }
  .invisbar {
    display: inline;
    width: 120%;
  }
  button#hamburger {
    display: block;
    font-size: 30px;
    background-color: transparent;
    color: #00713d;
  }
  button#hamburger:hover {
    box-shadow: none;
    color: #ffa7e5;
    transition-duration: 0.1s;
  }
}

.dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  align-content: center;
  z-index: 1;
  padding: 10px;
  background-color: #fff1fb;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: max-content;
  padding: 10px;
}

/**************************** global footer ****************************/

.footer {
  padding: 100px 12.5%;
  background-color: #00713d;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 50px;
}

.footer h3 {
  padding-bottom: 25px;
}

.socialbuttons {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: 10px;
}

.socialmediabutton {
  max-width: 20px;
}

/**************************** homepage ****************************/

/* about us section */

.aboutsection {
  padding: 80px 12.5% 120px 12.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.aboutsection h1 {
  color: #00713d;
}

.aboutsection p {
  font-weight: lighter;
  font-size: 16px;
  line-height: 35px;
}

.textstack {
  max-width: 45%;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.buttonstack {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 5%;
  row-gap: 10px;
}

button#eventsbutton {
  background-color: black;
  color: #ffd7f3;
}

button#events:hover {
  color: #ffa7e5;
}

button#getinvolved {
  color: #00713d;
}

button#getinvolved:hover {
  color: #04502f;
}

@media (max-width: 850px) {
  .aboutsection {
    flex-direction: column;
    padding: 0 12.5%;
  }

  .aboutsection img {
    min-width: 100%;
    flex: 1 1 100%;
    flex-shrink: 0;
    order: 1;
  }

  .textstack {
    order: 2;
    max-width: 100%;
    padding-top: 50px;
    text-align: center;
  }

  .buttonstack {
    justify-content: center;
  }
}

/* upcoming events section */

.upcomingevents {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;
  color: #00713d;
  background: rgba(0, 113, 61, 0.1);
  padding: 80px 12.5% 120px 12.5%;
  align-items: center;
  justify-content: center;
}

.upcomingevents h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

iframe {
  max-width: 100%;
}

/* instagram section */

.socialmediaheader {
  padding: 120px 7% 20px 7%;
}

.socialmediaheader a:hover {
  color: #ffa7e5;
}

.socialmediaheader a {
  text-decoration: none;
  color: #00713d;
  transition-duration: 0.1s;
}

.socialmediapreview {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;
  color: #00713d;
  padding: 50px 7% 90px 7%;
  align-items: flex-start;
  overflow-x: auto;
}

.socialmediaposts {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 5%;
}

/**************************** our team ****************************/
